<section id="primary_content" class="panel">
	<h1>Dabble Remix</h1>
	
	<p>Got a classic dinner remix
	A green smuggler
	A secret vegetable agent?
	A Sausage and mashup
	Share your wisdom here
	Spread the dabble
	Sweet……potato</p>
	
	<h2>Tell us what you think of this idea</h2>
	<%= render "comments" %>
	
</section>

<aside id="secondary_content">
	<%= render "interest_form" %>
</aside>