<section id="primary_content" class="panel">
	<h1>Dabble Remix</h1>
	
	<p>Got a classic dinner remix?</p>
	<p>A green smuggler, a secret vegetable agent, a sausage and mashup.</p>
	<p>Share your wisdom here, spread the dabble.</p>
	
	<p><%= image_tag "remix_example.gif" %></p>
	
	<h2>Tell us what you think of this idea</h2>
	<%= render "comments" %>
	
</section>

<aside id="secondary_content">
	<%= render "interest_form" %>
</aside>