<section id="primary_content">
	
	<h1>Dabble with your Dinners</h1>
	
	<h2>Why not&hellip;</h2>
	
	<ul id="dabble_list">
		<li>Meal one</li>
		<li>Meal two</li>
	</ul>
	
	<h2>Other ways to dabble</h2>
	
	<ul class="grid_list">
		<li><%= link_to "Dabble Box", dabble_box_path %></li>
		<li><%= link_to "Dabble Remix", dabble_remix_path %></li>
		<li><%= link_to "What's on my Plate", whats_on_my_plate_path %></li>
		<li><%= link_to "My colours", my_colours_path %></li>
	</ul>
	
</section>