<section id="primary_content" class="panel">
	
	<h1>My Colours</h1>
	
	<p>Get as many colours as possible in your diet, keep a track on our interactive calendar.</p>
	
	<h2>Try it out</h2>
	
	<h2>Tell us what you think of this idea</h2>
	<%= render "comments" %>
	
</section>

<aside id="secondary_content">
	<%= render "interest_form" %>
</aside>