input[type="email"] {
	border: 1px solid #999999;
	color: #888;
	padding: 0 10px;
	line-height: 2.25em;
	font-size: 13px;
	width: 198px;
	margin-bottom: 10px;
}

input[type="submit"] {
	background: #489F00;
	color: #ffffff;
	border: none;
	cursor: pointer;
	width: 100%;
	line-height: 2.25em;
	font-size: 13px;
}